#######################################################################################
##                                       Macros                                      ##
#######################################################################################

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE
    STATUS_MESHING

[gcode_macro Bed_Screw]
gcode:
    SCREWS_TILT_CALCULATE   

[bed_screws]
screw1: 245,35
screw1_name: front right screw
screw2: 245,205
screw2_name: rear right screw
screw3: 75,35
screw3_name: front left screw
screw4: 75,205
screw4_name: rear left screw

[screws_tilt_adjust]
screw1: 245,35
screw1_name: front right screw
screw2: 245,205
screw2_name: rear right screw
screw3: 75,35
screw3_name: front left screw
screw4: 75,205
screw4_name: rear left screw
horizontal_move_z: 10
speed: 150
screw_thread: CW-M4

[gcode_macro PID_EXTRUDER] Beschreibung: PID-Abstimmung für den Extruder-Gcode:
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(210)|float %}
  PID_CALIBRATE HEATER=extruder TARGET=210
  TURN_OFF_HEATER SAVE_CONFIG

[gcode_macro PID_BED] Beschreibung: PID Tune for the Bed Gcode:
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(80)|float %}
  PID_CALIBRATE HEATER=heater_bed TARGET=80
  TURN_OFF_HEATER SAVE_CONFIG

[z_tilt]
# Ender screw edge offsets are 35,35
# z_positions = IRL position of the stepper itself, in nozzle coords so will be off the bed at the back
# points = probe locations = nozzle + probe offset
# stepper X are 30mm off bed edge left & right
# stepper Y is 80 off the back when nozzle at Y=310 = 230+80
z_positions:
	-28, 135      ##Stepper Location Z0, as if the nozzle were in the screw  # -30, 116
	261, 135       ##Stepper Location Z1, as if the nozzle were in the screw # 265, 116
points:
    40, 116
    230, 116
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01

[gcode_macro Save_Cfg]
gcode:
    Save_Config

[gcode_macro ACCEL_QUERY]
gcode:
    ACCELEROMETER_QUERY

[gcode_macro CALIBRATE_AXIS_X]
gcode:
    SHAPER_CALIBRATE AXIS=X

[gcode_macro CALIBRATE_AXIS_Y]
gcode:
    SHAPER_CALIBRATE AXIS=Y

[gcode_macro CALIBRATE_BOTH_AXIS]
gcode:
    SHAPER_CALIBRATE

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

[gcode_macro FILAMENT_LOAD]
gcode:
 M83                   # Put the extruder into relative mode
 G92 E0.0              # Reset the extruder so that it thinks it is at position zero
 G1 E120 F350          # Move the extruder forward 120mm at a speed of 350mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.

[gcode_macro FILAMENT_UNLOAD]
gcode:
 M83                   # Put the extruder into relative mode
 G92 E0.0              # Reset the extruder so that it thinks it is at position zero
 G1 E-120 F350          # Move the extruder backward 120mm at a speed of 350mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.

#######################################################################################
##                   Klipper Adaptive Purging - VoronDesign Logo                     ##
#######################################################################################

# This macro will parse information from objects in your gcode to define a min and max area, creating a nearby purge with Voron flair!
# For successful purging, you may need to configure:
# 
# [extruder]
# .
# .
# max_extrude_cross_section: 5

[gcode_macro ADAPTIVE_PURGE]
description: A purge macro that adapts to be near your actual printed objects

variable_adaptive_enable: True      # Change to False if you'd like the purge to be in the same spot every print
variable_z_height: 0.4              # Height above the bed to purge
variable_tip_distance: 10           # Distance between filament tip and nozzle before purge (this will require some tuning)
variable_purge_amount: 40           # Amount of filament to purge
variable_flow_rate: 10              # Desired flow rate in mm3/s
variable_x_default: 10              # X location to purge, overwritten if adaptive is True
variable_y_default: 10              # Y location to purge, overwritten if adaptive is True
variable_size: 10                   # Size of the logo
variable_distance_to_object_x: 5   # Distance in x to the print area
variable_distance_to_object_y: 5   # Distance in y to the print area

gcode:
    {% if adaptive_enable == True %}
        {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}
        {% set x_origin = (all_points | map(attribute=0) | min | default(x_default + distance_to_object_x + size)) - distance_to_object_x - size %}
        {% set y_origin = (all_points | map(attribute=1) | min | default(y_default + distance_to_object_y + size)) - distance_to_object_y - size %}
        {% set x_origin = ([x_origin, 0] | max) %}
        {% set y_origin = ([y_origin, 0] | max) %}
    {% else %}
        {% set x_origin = x_default | float %}
        {% set y_origin = y_default | float %}
    {% endif %}
    {% set purge_move_speed = 2.31 * size * flow_rate / (purge_amount * 2.405) %}
    {% set prepurge_speed = flow_rate / 2.405 %}
    {% set travel_speed = (printer.toolhead.max_velocity / 2) %}   #aici am editat
    { action_respond_info( "x: " + x_origin|string + " y: " + y_origin|string + " purge_move_speed: " + purge_move_speed|string + " prepurge_speed: " + prepurge_speed|string ) }

    G92 E0
    G0 F{travel_speed*60}                                                               # Set travel speed
    G90                                                                                 # Absolute positioning
    G0 X{x_origin} Y{y_origin+size/2}                                                   # Move to purge position
    G0 Z{z_height}                                                                      # Move to purge Z height
    M83                                                                                 # Relative extrusion mode
    G1 E{tip_distance} F{prepurge_speed*60}                                             # Move tip of filament to nozzle
    G1 X{x_origin+size*0.289} Y{y_origin+size} E{purge_amount/4} F{purge_move_speed*60} # Purge first line of logo
    G1 E-.5 F2100                                                                       # Retract
    G0 Z{z_height*2}                                                                    # Z hop
    G0 X{x_origin+size*0.789} Y{y_origin+size}                                          # Move to second purge line origin
    G0 Z{z_height}                                                                      # Move to purge Z height
    G1 E.5 F2100                                                                        # Recover
    G1 X{x_origin+size*0.211} Y{y_origin} E{purge_amount/2} F{purge_move_speed*60}      # Purge second line of logo
    G1 E-.5 F2100                                                                       # Retract
    G0 Z{z_height*2}                                                                    # Z hop
    G0 X{x_origin+size*0.711} Y{y_origin}                                               # Move to third purge line origin
    G0 Z{z_height}                                                                      # Move to purge Z height
    G1 E.5 F2100                                                                        # Recover
    G1 X{x_origin+size} Y{y_origin+size/2}  E{purge_amount/4} F{purge_move_speed*60}    # Purge third line of logo
    G1 E-.5 F2100                                                                       # Retract
    G92 E0                                                                              # Reset extruder distance
    M82                                                                                 # Absolute extrusion mode
    G0 Z{z_height*2}                                                                    # Z hop

###############################################################################
# Start PRINT # Orca Start gcode: PRINT_START EXTRUDER=[nozzle_temperature_initial_layer] BED=[hot_plate_temp_initial_layer] MATERIAL=[filament_type]
###############################################################################

# Slicer Maschine G-Code: Old
# M104 S0 ; Stops OrcaSlicer from sending temp waits separately
# M140 S0
# print_start EXTRUDER=[first_layer_temperature] BED=[first_layer_bed_temperature] MATERIAL=[filament_type]



[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("30")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

    M400
    CLEAR_PAUSE
    G90

  # Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  STATUS_HOMING         # Sets SB-leds to homing-mode
  G28                   # Full home (XYZ)
  STATUS_LEVELING
  Z_TILT_ADJUST         # automated X-Axis leveling
  G28 Z                 # home Z-axis again
  M140 S{target_bed}    # Set Heatbed Temperatur
  BED_MESH_CLEAR        # Clears old saved bed mesh (if any)

  # Heating nozzle to 150 degrees. This helps with getting a correct Z-home
  SET_DISPLAY_TEXT MSG="Hotend: 150c"          # Displays info
  M109 S150             # Heats the nozzle to 150c
  M190 S{target_bed}    # Wait for Bed Temperatur

  G28 Z                 # Home Z axis again to account for thermal expansion
  
  ##  Uncomment for bed mesh (2 of 2)
  SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
  STATUS_MESHING                     # Sets SB-leds to bed mesh-mode
  BED_MESH_Calibrate ADAPTIVE=1      # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh
  STATUS_CALIBRATING_Z
  CARTOGRAPHER_TOUCH                 # Perform touch probe

  # Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"             # Displays info
  STATUS_HEATING                                                # Sets SB-leds to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                              # Goes to center of the bed
  M104 S{target_extruder}                                       # Set Hotend Temperatur
  M140 S{target_bed}                                            # Set Heatbed Temperatur
  M107                                                          # Turns off partcooling fan
  M109 S{target_extruder}                                       # Wait for Hotend Temperatur
  M190 S{target_bed}                                            # Wait for Bed Temperatur
  

  # Gets ready to print by doing a purge line and updating the SB-leds
  SET_DISPLAY_TEXT MSG="Printer goes brr"          # Displays info
  STATUS_PRINTING                                  # Sets SB-leds to printing-mode
  ADAPTIVE_PURGE
  # G0 X{x_wait - 50} Y6 F10000                      # Moves to starting point
  # G0 Z0.4                                          # Raises Z to 0.4
  # G91                                              # Incremental positioning 
  # G1 X100 E20 F1000                                # Purge line
  # G90                                              # Absolut position
  

###############################################################################
# END PRINT # Orca End gcode: END_PRINT
###############################################################################
    
[gcode_macro END_PRINT] 
gcode: 
    TURN_OFF_HEATERS                         ; Turn off bed and nozzle
    STATUS_OFF
    G1 E-3 F3000                             ; Retract
	G91                                      ; Relative positioning
	#G1 E-4 F3000                             ; Retract
	G1 E-3 F3000                             ; Retract
    G1 X-0.5 Y-0.5 Z5 E-5                    ; Move a bit and retract filament even more
	G90                                      ; Absolute positioning
	G1 X0 Y200 F2200                         ; Move bed to front
	M107                                     ; Turn off part fan
	M84                                      ; Steppers off
	G90                                      ; Absolute positioning